<template>
    <div>
        <h1>Edit User</h1>
        <form @submit.prevent="handleUpdate()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" v-model="user.name">
                <div class="error" v-if="errors.name">
                    {{ errors.name[0] }}
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" v-model="user.email">
                <div class="error" v-if="errors.email">
                    {{ errors.email[0] }}
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-block">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Update</span>
            </button>
            <router-link :to="{name: 'User'}" class="btn btn-secondary btn-block">
                <span class="icon text-white-50">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text">Back</span>
            </router-link>
        </form>
    </div>
</template>

<script>

export default {
    props: ['id'],
    data () {
        return {
            user: {
                name: '',
                email: ''
            },
            errors: {}
        }
    },
    methods: {
        handleUpdate() {
            axios.put('/api/user/' + this.id, this.user)
            .then( response => {
                console.log(response)
                if( response.data.status ) {
                    this.$noty.success( response.data.message )
                    this.$router.push({
                        name: 'User'
                    })
                }
            })
            .catch( error => {
                if( error.response.status == 403 ) {
                    this.errors = error.response.data.message
                }
            })
        },
        getUser() {
            axios.get('/api/user/' + this.id)
            .then( ( response ) => {
                console.log( response.data )
                this.user = {
                    name: response.data.name,
                    email: response.data.email
                }
            })
            .catch( error => {
                this.$noty.error( 'User not found' )
            })
        },
    },
    mounted() {
        this.getUser()
    }
}
</script>
