<template>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{userdetail.name}}</h6>
        </div>
        <div class="card-body">
            <section v-if="id">
                <div class="container-image">
                    <img 
                        :src="userdetail.image == null ? '/images/user/blank_avatar.png' : '/images/user/' + userdetail.image "
                        alt="">
                    <div class="overlay"></div>
                    <div class="button"><a href="#"> UPLOAD </a><input type="file" name="image" @change="previewImage"/></div>
                </div>
                <p>Email : {{userdetail.email}} </p>
                <button class="btn btn-success btn-split-icon" @click="submitImage">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Submit Image</span>
                </button>
                <router-link class="btn btn-secondary btn-icon-split" :to="{name: 'User'}">
                    <span class="icon text-white-50">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text">Back</span>
                </router-link>
            </section>
        </div>
    </div>
</template>

<script>
$(function() {
    $('#profile-image').on('click', function() {
        $('#profile-image-upload').click();
    });
});

export default {
    props: ['id'],
    data() {
        return {
            userdetail: {},
            imagePreview: null,
            image: null
        }
    },
    mounted() {
        this.getUser()
    },
    methods: {
        getUser() {
            axios.get('/api/user/' + this.id)
            .then( ( response ) => {
                console.log( response.data )
                this.userdetail = response.data
            })
            .catch( error => {
                this.$noty.error( 'User not found' )
            })
        },
        handlingDelete() {
            if( confirm("Are you sure wanna delete this user? ") ) {
                axios.delete('/api/user/' + this.id)
                .then( response => {
                    if( response.data.status ) {
                        this.$noty.success( response.data.message )
                        this.$router.push({
                            name: 'User'
                        })
                    }
                })
                .catch( error => {
                    this.$noty.error( 'User not found' )
                })
            } else {
                return false;
            }
        },
        edit() {
            this.$router.push({
                name: 'EditUser',
                params: {
                    id: this.id
                }
            })
        },
        previewImage(e) {
            console.log(e)
            let imageTemp = e.target.files[0]
            this.imagePreview = URL.createObjectURL(imageTemp)
            this.userdetail.image = URL.createObjectURL(imageTemp)
            this.image = imageTemp
        },
        submitImage() {
            let formData = new FormData()
            formData.append('image', this.image)
            
            axios.post('/api/user/upload-image/' + this.id, formData)
            .then( response => {
                if( response.data.status ) {
                    this.$noty.success( response.data.message )
                    // this.$router.push({
                    //     name: 'Profile',
                    //     params: {id : this.id}
                    // })
                    this.getUser()
                }
            })
            .catch( error => {
                console.log( error )
            })
        }
    }
}
</script>

<style scoped>
.container-image {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container-image:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

img {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 0;
}

.title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.container-image:hover .title {
    top: 90px;
}

.button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.container-image:hover .button {
    opacity: 1;
    align-items: center;
}

a + input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

</style>