<template>
    <div>
        <h1>Register</h1>
        <form @submit.prevent="handleSubmit()" class="user">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control form-control-user" v-model="user.name">
                <div class="error" v-if="errors.name">
                    {{ errors.name[0] }}
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-user" v-model="user.email">
                <div class="error" v-if="errors.email">
                    {{ errors.email[0] }}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-user" v-model="user.password">
                <div class="error" v-if="errors.password">
                    {{ errors.password[0] }}
                </div>
            </div>

            <button class="btn btn-success btn-block">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Submit</span>
            </button>
            <router-link :to="{name: 'User'}" class="btn btn-secondary btn-block">
                <span class="icon text-white-50">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text">Back</span>
            </router-link>
        </form>
    </div>
</template>

<script>

export default {
    data () {
        return {
            user: {
                name: '',
                email: '',
                password: ''
            },
            errors: {}
        }
    },
    methods: {
        handleSubmit() {
            axios.post('/api/users', this.user)
            .then( response => {
                console.log(response)
                if( response.data.status ) {
                    this.$noty.success( response.data.message )
                    this.$router.push({
                        name: 'User'
                    })
                }
            })
            .catch( error => {
                if( error.response.status == 403 ) {
                    this.errors = error.response.data.message
                }
            })
        }
    }
}
</script>
