<template>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-10">
                    <h6 class="m-0 font-weight-bold text-primary">User List</h6>
                </div>
                <div class="col-md-2 float-right">
                    <router-link :to="{name: 'Register'}" class="btn btn-primary btn-icon-split float-right">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Register</span>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr v-for="(user, index) in users">
                            <td>{{ index+1 }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a class="btn btn-info btn-user btn-sm" href="" @click.prevent="detailUser(user.id)">Detail</a>
                                <a class="btn btn-warning btn-user btn-sm" href="" @click.prevent="edit(user.id)">Edit</a>
                                <a class="btn btn-danger btn-user btn-sm" href="" @click.prevent="handlingDelete(user.id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <data-table
                    :columns="columns"
                    url="/api/users">
                </data-table> -->
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: ['id'],
    data() {
        return {
            users: [],
            columns: [
                {
                    label: 'No',
                    name: 'no',
                    orderable: true,
                },
                {
                    label: 'Name',
                    name: 'name',
                    orderable: true,
                },
                {
                    label: 'Email',
                    name: 'email'
                },
                {
                    label: 'Actiion',
                    name: 'action'
                },
            ]
        }
    },
    mounted() {
        this.getUsers()
    },
    methods: {
        getUsers() {
            axios.get('/api/users')
            .then( ( response ) => {
                console.log( response.data )
                this.users = response.data
            })
            .catch( error => {
                console.log( error )
            })
        },
        profileUri(name) {
            return 'user/' + name.toLowerCase()
        },
        detailUser(id) {
            this.$router.push({
                name: 'Profile',
                params: {id}
            })
        },
        handlingDelete(id) {
            if( confirm("Are you sure wanna delete this user? ") ) {
                axios.delete('/api/user/' + id)
                .then( response => {
                    if( response.data.status ) {
                        this.$noty.success( response.data.message )
                        this.getUsers()
                    }
                })
                .catch( error => {
                    this.$noty.error( 'User not found' )
                })
            } else {
                return false;
            }
        },
        edit(id) {
            this.$router.push({
                name: 'EditUser',
                params: {
                    id: id
                }
            })
        },
        reload() {
            this.$forceUpdate();
        }
    }
}
</script>
