<template>
    <!-- <nav>
        <router-link class="btn btn-primary" :to="{name: 'Home'}">Home</router-link>
        <router-link class="btn btn-primary" v-bind:to="{name: 'About'}">About</router-link>
        <router-link class="btn btn-primary" :to="{name: 'User'}">User</router-link>
    </nav> -->
    <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <router-link class="sidebar-brand d-flex align-items-center justify-content-center" :to="{name: 'Home'}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">UMS</div>
            </router-link>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <router-link class="nav-link" :to="{name: 'Home'}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></router-link>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <router-link class="nav-link collapsed" href="#" :to="{name: 'User'}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>User</span>
                </router-link>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li> -->

        </ul>
</template>